# CMake build artifacts
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json

# Ignore build output directories
/build/
/bin/

# Ignore compiled executables and object files
server
*.o
*.obj
*.out

# Editor/IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Temporary files
*~
*.tmpserver.crt
server.crt
server.key

